
**EDA**

In [1]:
import pandas as pd
import numpy as np
import mitosheet
import seaborn as sns
import matplotlib as plt

EDA GOALS:
- Calculate the total number of customers in each section.
- Calculate the total number of customers in each section over time.
- Display the number of customers at checkout over time.
- Calculate the time each customer spent in the market.
- Calculate the total number of customers in the supermarket over time.
- Our business managers think that the first section customers visit follows a different pattern than the following ones. 
- Plot the distribution of customers of their first visited section versus following sections.
- Estimate the total revenue for a customer (section, revenue per minute)

In [2]:
# Imported monday.csv
monday = pd.read_csv(r'/Users/mac/Desktop/localrepo_project8/Project-Nikita-Jesus/data/monday.csv', sep=';')
# Imported tuesday.csv
tuesday = pd.read_csv(r'/Users/mac/Desktop/localrepo_project8/Project-Nikita-Jesus/data/tuesday.csv', sep=';')
# Imported wednesday.csv
wednesday = pd.read_csv(r'/Users/mac/Desktop/localrepo_project8/Project-Nikita-Jesus/data/wednesday.csv', sep=';')
# Imported thursday.csv
thursday = pd.read_csv(r'/Users/mac/Desktop/localrepo_project8/Project-Nikita-Jesus/data/thursday.csv', sep=';')
# Imported friday.csv
friday = pd.read_csv(r'/Users/mac/Desktop/localrepo_project8/Project-Nikita-Jesus/data/friday.csv', sep=';')
    
# Changed timestamp to dtype datetime
#monday['customer_no']=monday['customer_no'].apply(lambda x: str(x)+'_monday')
# Changed timestamp to dtype datetime
#tuesday['customer_no'] = tuesday['customer_no']+2000
#tuesday['customer_no'] = tuesday['customer_no'].astype(int)
#tuesday['customer_no']=tuesday['customer_no'].apply(lambda x: int(x)+'_tuesday')

# Changed timestamp to dtype datetime
wednesday['customer_no'] = tuesday['customer_no']+4000
#wednesday['customer_no'] = wednesday['customer_no'].astype(int)

# Changed timestamp to dtype datetime
thursday['customer_no'] = thursday['customer_no']+6000
#thursday['customer_no'] = thursday['customer_no'].astype(str)

# Changed timestamp to dtype datetime
friday['customer_no'] = friday['customer_no']+8000
#friday['customer_no'] = friday['customer_no'].astype(str)

# # Pivoted into monday
# monday_pivot = pd.DataFrame(data={})
# # Deleted monday_pivot
# del monday_pivot
# Concatenated 5 into dataframes into df6
df = pd.concat([monday, tuesday, wednesday, thursday, friday], join='inner', ignore_index=True)
df["timestamp"] = pd.to_datetime(df["timestamp"])
df["hour"] = df["timestamp"].dt.hour
df["time"] = df["timestamp"].dt.time

In [3]:
df

                timestamp  customer_no  location  hour      time
0     2019-09-02 07:03:00          1.0     dairy     7  07:03:00
1     2019-09-02 07:03:00          2.0     dairy     7  07:03:00
2     2019-09-02 07:04:00          3.0     dairy     7  07:04:00
3     2019-09-02 07:04:00          4.0     dairy     7  07:04:00
4     2019-09-02 07:04:00          5.0    spices     7  07:04:00
...                   ...          ...       ...   ...       ...
24872 2019-09-06 21:50:00       9500.0     dairy    21  21:50:00
24873 2019-09-06 21:50:00       9507.0  checkout    21  21:50:00
24874 2019-09-06 21:50:00       9508.0  checkout    21  21:50:00
24875 2019-09-06 21:50:00       9509.0    drinks    21  21:50:00
24876 2019-09-06 21:50:00       9510.0    spices    21  21:50:00

[24877 rows x 5 columns]

In [21]:
df['customer_no'] = df['customer_no'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [4]:
# df = pd.DataFrame()
#days = ['friday', 'thursday', 'wednesday', 'tuesday', 'monday']
# for day in days:
#     df = pd.concat([pd.read_csv(f'data/{day}.csv', sep=';'), df])

In [5]:
# #missing customers from checkout
# checkout=set(data[data["location"]=="checkout"]["customer_no"].unique())
# all_c=set(data["customer_no"].unique())
# diff=all_c.difference(checkout)
# for cust in diff:
#                data=data.append({"timestamp":"2019-09-02 22:00:00","customer_no":'cust', 'location':"checkout"}, ignore_index=True)
#      data[data["timestamp"]=="2019-09-02 22:00:00"]

In [6]:
tuesday.head()

             timestamp  customer_no location
0  2019-09-03 07:02:00            1    fruit
1  2019-09-03 07:02:00            2   drinks
2  2019-09-03 07:03:00            3    dairy
3  2019-09-03 07:05:00            1   drinks
4  2019-09-03 07:06:00            4    dairy

In [7]:
tuesday['customer_no']

0          1
1          2
2          3
3          1
4          4
        ...
4709    1421
4710    1422
4711    1421
4712    1412
4713    1411
Name: customer_no, Length: 4714, dtype: int64

In [8]:
df

                timestamp  customer_no  location  hour      time
0     2019-09-02 07:03:00          1.0     dairy     7  07:03:00
1     2019-09-02 07:03:00          2.0     dairy     7  07:03:00
2     2019-09-02 07:04:00          3.0     dairy     7  07:04:00
3     2019-09-02 07:04:00          4.0     dairy     7  07:04:00
4     2019-09-02 07:04:00          5.0    spices     7  07:04:00
...                   ...          ...       ...   ...       ...
24872 2019-09-06 21:50:00       9500.0     dairy    21  21:50:00
24873 2019-09-06 21:50:00       9507.0  checkout    21  21:50:00
24874 2019-09-06 21:50:00       9508.0  checkout    21  21:50:00
24875 2019-09-06 21:50:00       9509.0    drinks    21  21:50:00
24876 2019-09-06 21:50:00       9510.0    spices    21  21:50:00

[24877 rows x 5 columns]

In [10]:
df = pd.get_dummies(df, columns=['location'])

In [11]:
df

,timestamp,customer_no,hour,time,location_checkout,location_dairy,location_drinks,location_fruit,location_spices
0,2019-09-02 07:03:00,1.0,7,07:03:00,0,1,0,0,0
1,2019-09-02 07:03:00,2.0,7,07:03:00,0,1,0,0,0
2,2019-09-02 07:04:00,3.0,7,07:04:00,0,1,0,0,0
3,2019-09-02 07:04:00,4.0,7,07:04:00,0,1,0,0,0
4,2019-09-02 07:04:00,5.0,7,07:04:00,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
24872,2019-09-06 21:50:00,9500.0,21,21:50:00,0,1,0,0,0
24873,2019-09-06 21:50:00,9507.0,21,21:50:00,1,0,0,0,0
24874,2019-09-06 21:50:00,9508.0,21,21:50:00,1,0,0,0,0
24875,2019-09-06 21:50:00,9509.0,21,21:50:00,0,0,1,0,0
24876,2019-09-06 21:50:00,9510.0,21,21:50:00,0,0,0,0,1

In [12]:
df['location_checkout'].sum()

7417

In [13]:
df['location_dairy'].sum()

4679

In [14]:
df['location_drinks'].sum()

3905

In [15]:
df['location_fruit'].sum()

5122

In [16]:
df['location_spices'].sum()

3754

In [17]:
df

,timestamp,customer_no,hour,time,location_checkout,location_dairy,location_drinks,location_fruit,location_spices
0,2019-09-02 07:03:00,1.0,7,07:03:00,0,1,0,0,0
1,2019-09-02 07:03:00,2.0,7,07:03:00,0,1,0,0,0
2,2019-09-02 07:04:00,3.0,7,07:04:00,0,1,0,0,0
3,2019-09-02 07:04:00,4.0,7,07:04:00,0,1,0,0,0
4,2019-09-02 07:04:00,5.0,7,07:04:00,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
24872,2019-09-06 21:50:00,9500.0,21,21:50:00,0,1,0,0,0
24873,2019-09-06 21:50:00,9507.0,21,21:50:00,1,0,0,0,0
24874,2019-09-06 21:50:00,9508.0,21,21:50:00,1,0,0,0,0
24875,2019-09-06 21:50:00,9509.0,21,21:50:00,0,0,1,0,0
24876,2019-09-06 21:50:00,9510.0,21,21:50:00,0,0,0,0,1

In [19]:
df['Week/Year'] = df['timestamp'].apply(lambda x: "%d/%d" % (x.week, x.year))

In [20]:
df.groupby(['Week/Year', 'customer_no']).size()

Week/Year  customer_no
36/2019    1.0            5
           2.0            5
           3.0            4
           4.0            6
           5.0            4
                         ..
           9506.0         1
           9507.0         2
           9508.0         2
           9509.0         1
           9510.0         1
Length: 5914, dtype: int64